 <% if (showDoc) { %>
    <p><a target='_blank' href='<%= documentation %>'>Documentation</a> on using OAuth Authorization Code Grant and JWT from a Node Express application.</p>
  <% } %>

 <% if (locals.dsConfig.multiSourceChooser) { %>
   <h3 class="mt-4">Code Examples for C#, PHP, Java, Node.js, Python, and Curl</h3>
 <% } else { %>
 <h3 class="mt-4">Exemplo</h3>
 <% } %>

 <h4 id="example001">1. <a href="eg001">Assinatura de contrato</a></h4>
  <p>Exemplo de envio de documento para assinatura, relacionamento entre as partes é de 1 para 1. </p>  

